.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  box-sizing: border-box;
  margin-top: 1em;
}

.menu-search {
  position: sticky;
  top: 0;

  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  max-width: 90%;

  background-color: #fff;
  color: #363636;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
}
